@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*Selector Universal*/

*{
  box-sizing: border-box;
  font-family: "Roboto Slab";
  color: rgb(206, 5, 129);
}

/*Selector por palabra clave*/
head, body {  
  margin: 0;
  padding: 0;
}

/*---------------------Estilos de Header-----------------------*/

.main-header{ /*Con el punto usas un selector de clase, en este caso la lcase main header definida en html
  Esto va a modificar a todos los elementos de esa clase*/
  background-image: url("./Imagenes/electronica.jpg");
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px; 
}

.nav ul{
  margin: 0;  
}

.nav li{
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 1em;
  color: rgb(69, 133, 252);
  text-decoration:none;
}

.nav a:hover{
    background-color: rgba(231, 0, 143, 0.3);
}

.main-nav li{
  padding: 0 5%;
}
.nombre{
  text-align: center;
  margin: 0.5em;
  font-family: "Varela Round"; /*Fuente que descargue de Google*/
  font-weight: bold;
}

.nombre-principal{
  font-size: center;
  color: rgb(206, 5, 129);
}

.main-nav{
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

/*---------------------Estilos de Seccion-----------------------*/

.content-section{
  max width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em;
  margin: 1em;
}

.section-header{
  font-family: "Varela Round";
  font-size: xx-large;
  color: rgb(22, 120, 211)
}

.imagen-personal{
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right:auto;
  border-radius: 50%;
}

.main-footer{
  background-image: url("./Imagenes/Footer.jpg");
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px; 
  }

  /*  Dieciseis -  Un área del documento que contiene un flexbox es llamada contendedor flex. 
  Para crear un contenedor flex, establecemos la propiedad display de la clase contenedora como flex 
  o inline-flex. Tan pronto como hacemos esto, los hijos directos de este contenedor se vuelven ítems 
  flex. Como con todas las propiedades de CSS, se definen algunos valores iniciales, así que cuando 
  creemos un contenedor flex todos los ítems flex contenidos se comportarán de la siguiente manera 
  
  El resultado es que todos los ítems se alinearán en una solo fila, usando el tamaño del contenedor 
  como su tamaño en el eje principal. 
  Si hay más ítems de los que caben en el contenedor, estos no pasarán más abajo si no que sobrepasarán 
  el margen. 
  Si hay ítems más altos que otros, todos los ítems serán ajustados en el eje cruzado para alcanzar 
  al mayor.
  
  https://www.w3schools.com/css/css3_flexbox.asp
  https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Conceptos_Basicos_de_Flexbox */

.main-footer-conteiner{
  display: flex;
  align-items: center;
}

/*  Diecisiete - A partir de lo que se analizó en puntos anteriores, ¿puede describir que hacemos aquí? */

.main-footer-conteiner h3{
  color: white;
  font-weight: lighter;
  font-family: "Varela Round";
}

.main-footer-conteiner{
  display: flex;
  align-items: center;
}



.main-footer-conteiner ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li{
  padding: o 5%;
}

.footer-nav img{
  width: 50px;
}